.mainheadercontainer {
  text-align: center;
  margin-bottom: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  line-height: 0.5;
}

@media (max-width: 690px) {
  .mainheadercontainer {
    flex-direction: column;
    line-height: 1;
    font-size: small;
    margin-bottom: 0;
  }
}
